section#dates{

	color: $white;
	background: url(../../img/dates_bg-md.jpg) no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 50px;

}

.dates{

	text-align: left;
	font-size: 0.8rem;

	ul li{

		padding: 10px;
		margin: 0 0 0 20px;
		opacity: 1;

	}

}