section#dates{

	color: $white;
	background: url(../../img/dates_bg-sm.jpg) no-repeat center center;
	background-size: cover;
	padding-bottom: 50px;

}

.dates{

	text-align: left;
	font-size: 0.8rem;

	ul li{

		padding: 10px;
		margin: 0 0 0 20px;

	}

}