#music{

	background: url(../../img/music_bg-sm.jpg) no-repeat center center;
	background-size: cover;
	height: 425px;

	h2{

		color: $white;
		margin: 0 0 25px 0;

	}

	iframe{

		margin: 0 0 25px 0;

	}

	.cta{

		background-color: $soundcloud;
		color: white;

	}

}