<section class="app__contact">
  <div class="app__container">
    <h2>contact.</h2>
    <!-- <div class="app__contact__item">
      <a href="https://www.facebook.com/justarockband">
        {% include img/facebook.svg %}
      </a>
    </div> -->
    <div class="app__contact__item">
      <a href="https://www.youtube.com/channel/UC779-tEQQ8FWG3aA5oTWYCA">
        {% include img/youtube.svg %}
      </a>
    </div>
    <div class="app__contact__item">
      <a href="https://soundcloud.com/just-parisian-rock-band-1">
        {% include img/soundcloud.svg %}
      </a>
    </div>
    <div class="app__contact__item">
      <a href="mailto:contact@just-band.com">
        {% include img/email.svg %}
      </a>
    </div>
  </div>
</section>