<section class="app__hero-video">
  <div class="app__hero-video__logo">
    {% include img/logo-white.svg %}
  </div>
  <!-- <div class="app__hero-video__stop">×</div>
  <div id="js__app__hero-video__iframe"></div>
  <a href="3E27tsedJmQ" class="app__hero-video__play">
    <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle fill="rgba(0,0,0,.4)" stroke="#FFF" stroke-width="2" stroke-miterlimit="10" cx="49.6" cy="49.4" r="44.4"></circle><path fill="#FFF" d="M52.4 44.8l9.7 5.6-9.7 5.6-9.8 5.6V39.2"></path></svg>
  </a> -->
</section>
