<section class="app__intro">
  <div class="app__container--thin">
    <h2>about.</h2>
    <p>Né d'une dualité fraternelle, le projet « just. » prend forme au mois de décembre 2013. Quelques sessions musicales suffisent pour que la magie opère : les inspirations de Guillaume sont propulsées par la guitare de Geoffrey.</p>
    <p>Après avoir accompagné le chanteur Rover pendant 4 ans, Victor intègre le duo pour y apporter sa solidité rythmique.</p>
    <p>Le trio est ainsi formé</p>
    <p>Leurs mélodies pop et épurées sont portées par l'énergie rock qui émane de leurs arrangements</p>
  </div>
</section>