<section class="app__intro">
  <div class="app__container--thin">
    <h2>about.</h2>
    <p>Né d'une dualité fraternelle, le projet <strong>just.</strong> prend forme au mois de décembre 2013. Quelques sessions musicales suffisent pour que la magie opère : les inspirations de <strong>Guillaume</strong> sont propulsées par la guitare de <strong>Geoffrey</strong>. Après avoir accompagné le chanteur Rover pendant 4 ans, <strong>Victor</strong> intègre le duo pour y apporter sa solidité rythmique. Le trio est ainsi formé.</p>
  </div>
</section>