<section class="app__music">
  <div class="app__music__container">
    <div class="app__music__copy">
      <h2 class="app__music__title">music.</h2>
      <p class="app__music__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid sit at sequi quidem quisquam, qui culpa accusantium labore! Nihil officia ad nemo numquam quaerat et nisi laudantium! Quidem dolorum, provident.</p>
    </div>
    <div class="app__music__soundcloud" >
      <iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/31996585&amp;amp;auto_play=false&amp;amp;hide_related=false&amp;amp;show_comments=true&amp;amp;show_user=true&amp;amp;show_reposts=false&amp;amp;visual=true"></iframe>
    </div>
  </div>
</section>