<section class="app__video">
  <h2 class="app__video__title">live.</h2>
  <p class="app__video__text">C'est dans le live que le trio just prend toute sa valeur. Leur musique est taillée pour cela: un son simple mais léché, un combo d'instruments qui a fait l'histoire du rock.</p>
  <div class="app__video__item">
    <div class="app__video__container">
      <iframe src="https://www.youtube.com/embed/SFmha1nJKhY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen show></iframe>
    </div>
    <div class="app__video__item__copy">
      <p>When you're gone</p>
    </div>
  </div>
  <div class="app__video__item">
    <div class="app__video__container">
      <iframe src="https://www.youtube.com/embed/332UP373ACw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen show></iframe>
    </div>
    <div class="app__video__item__copy">
      <p>My Many Imperfections</p>
    </div>
  </div>
  <div class="app__video__item">
    <div class="app__video__container">
      <iframe src="https://www.youtube.com/embed/i22VefDq5xw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen show></iframe>
    </div>
    <div class="app__video__item__copy">
      <p>Broken Memories</p>
    </div>
  </div>
  <div class="app__video__cta">
    <a href="https://www.youtube.com/channel/UC779-tEQQ8FWG3aA5oTWYCA" class="app__cta">Plus de videos</a>
  </div>
</section>