<section class="app__video">
  <div class="app__video__item">
    <div class="app__video__container">
      <iframe src="https://www.youtube.com/embed/SFmha1nJKhY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen show></iframe>
    </div>
    <div class="app__video__item__copy">
      <p>When you're gone - just. | Antipode 2016</p>
    </div>
  </div>
  <div class="app__video__item">
    <div class="app__video__container">
      <iframe src="https://www.youtube.com/embed/332UP373ACw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen show></iframe>
    </div>
    <div class="app__video__item__copy">
      <p>My Many Imperfections - just. | Péniche Antipode 2016</p>
    </div>
  </div>
  <div class="app__video__item">
    <div class="app__video__container">
      <iframe src="https://www.youtube.com/embed/i22VefDq5xw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen show></iframe>
    </div>
    <div class="app__video__item__copy">
      <p>Broken Memories - just. | Antipode 2016</p>
    </div>
  </div>
  <a href="#" class="app__cta">Plus de videos</a>
</section>