doctype html

html
	include modules/head.pug

	body
		include modules/nav.pug
		include modules/hero.pug
		include modules/about.pug
		include modules/music.pug
		include modules/video.pug
		include modules/dates.pug
		include modules/contact.pug
		
		include modules/footer-scripts.pug
		
		
		