#about{

	h2{

		margin: 0 0 25px 0;

	}

	.rounded{

		border-radius: 100%;
		width: 125px;
		height: 125px;

	}

	.line-sep{

		margin: 50px auto;

	}

	.musicians{

		display: flex;
		align-items: center;

	}

	.trio{

		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		opacity: 0;
		transform: translate3d(0,100px,0);
		transition: all 0.6s ease-in-out;

		&.on{

			opacity: 1;
			transform: translate3d(0,0,0);

		}

		.musician{

			display: flex;
			flex-direction: column;
			margin: 25px 0;

			h3{

				font:{
					size: 1rem;
				}

			}

			p{

				margin: 0;
				font: {
					size: 0.8rem;
				}

			}

		}

	}	

}