header{

	width: 100%;
	position: relative;
	background-color: $white;
	position: fixed;
	z-index: 999;

	.nav-toggle{

		position: absolute;
		width: 80px;
		height: 80px;
		margin: 10px 0 0 30px;
		display: flex;
		align-items: center;
		cursor: pointer;

		span,
		span:before,
		span:after {

			content: '';
			display: block;
			width: 80px;
			height: 2px;
			background-color: $black;
			position: relative;
			transition: transform 0.3s ease-in-out;

		}

		span:before{

			bottom: 20px;

		}

		span:after{

			top: 16px;

		}

		&.open{

					span{

						background: transparent;

					}

					span:before{

						transform-orgin: center;
						transform: rotate(45deg);
						top: 0;

					}

					span:after{

						transform-orgin: center;
						transform: rotate(-45deg);
						top: -2px;

					}


				}

		}

	img{

		margin: 0 auto;
		display: block;
		width: 100px;
		height: 50px;

	}

	nav{

		width: 400px;
		position: fixed;
		z-index: 800;
		top: 100px;
		bottom: 0;
		background-color: $white;
		box-shadow: 10px 0px 10px -6px rgba(0,0,0,0.2);
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate3d(-450px,0,0);
		transition: all 0.3s ease-in-out;

		&.active{

			transform: translate3d(0px,0,0);

		}

		ul li{

			padding: 20px 0;
			font-size: 2rem;

			a{

				text-decoration: none;
				color: $black;

			}

		}

	}

}

