p{

	margin: 0 0 1rem 0;

}

.line-sep{

	background-color: #E5DFDF;
	display: block;
	height: 1px;
	width: 50%;
	margin: 0 auto;

}

.cta{

	padding: 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 300;
	box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.51);

}