section#about
	
	.overlay
		.content
			h2 about.
			p.

				Né d'une dualité fraternelle, le projet « just. » prend forme au mois de décembre 2013. Quelques sessions musicales suffisent pour que la magie opère : les inspirations de Guillaume sont propulsées par la guitare de Geoffrey.

			p.
				
				Après avoir accompagné le chanteur Rover pendant 4 ans, Victor intègre le duo pour y apporter sa solidité rythmique.

			p.

				Le trio est ainsi formé.

			p.
				
				Leurs mélodies pop et épurées sont portées par l'énergie rock qui émane de leurs arrangements.
