section#contact
	.container
		.square
			.row
				.icon
					a(href="https://www.facebook.com/justarockband" target="_blank") like us #[br]
						i.fa.fa-facebook
				.icon
					a(href="https://www.youtube.com/channel/UC779-tEQQ8FWG3aA5oTWYCA" target="_blank") watch us #[br]
						i.fa.fa-youtube
			.row
				.icon
					a(href="https://soundcloud.com/just-parisian-rock-band-1" target="_blank") listen to us #[br]
						i.fa.fa-soundcloud
				.icon
					a(href="mailto:contact@just-band.com") email us #[br]
						i.fa.fa-envelope-o
	.phone
		img(src="img/phone.png")