section#contact
	.container
		.square
			.row
				.icon
					i.fa.fa-facebook
				.icon
					i.fa.fa-youtube
			.row
				.icon
					i.fa.fa-soundcloud
				.icon
					i.fa.fa-envelope-o
	.phone
		img(src="img/phone.png")