section#dates

	.container
		.dates
			ul
				li(data-link="#") <strong>Le Lautrec</strong> - Paris - 25 mars 2015
				li(data-link="#") <strong>OPA Bastille </strong> - Paris - 22 avril 2015, 19H00
				li(data-link="#") <strong>Le Cavern Club</strong> - Paris - 20 mai 2015
				li(data-link="#") <strong>Le 114</strong> - Paris - 28 mai 2015
				li(data-link="#") <strong>Les Cariatides</strong> - Paris - 9 juin 2015
				li(data-link="#") <strong>Le Gambetta Club</strong> - Paris - 5 novembre 2015 juin 2015
				li(data-link="#") <strong>Péniche Antipode</strong> - Paris - 25 février 2016
				li(data-link="#") <strong>Le Pop In</strong> - Paris - 10 mai 2016
				li(data-link="#") <strong>Festival "Break On Troux"</strong> - Boullay-les-Troux - 2 juillet 2016
				li(data-link="#") <strong>Péniche Antipode</strong> - Paris - 5 juillet 2016
				li(data-link="#") <strong>Le Truskel</strong> - Paris - 16 février 2017
				li(data-link="#") <strong>Boardriders Quiksilver</strong> - Bercy Village - 31 mars 2017

	.speaker
		img(src="img/speaker.png")