header
	nav#menu
		img(src="img/logo.svg")
		ul
			li.active
				a.menu-item(data-scroll href="#about") about.
			li
				a.menu-item(data-scroll href="#music") music.	
			li
				a.menu-item(data-scroll href="#video") video.	
			li
				a.menu-item(data-scroll href="#dates") dates.
			li
				a.menu-item(data-scroll href="#contact") contact.	

