header
	nav#menu
		img(src="img/logo.svg")
		ul
			li.active
				.menu-item(data-scroll data-id="#about") about.
			li
				.menu-item(data-scroll data-id="#music") music.	
			li
				.menu-item(data-scroll data-id="#video") video.	
			li
				.menu-item(data-scroll data-id="#dates") dates.
			li
				.menu-item(data-scroll data-id="#contact") contact.	

