{% comment %}
If you have content that is used throughout the site for each translation (like the site title or button text, for example), define it in the main page document and use this code to create variable(s) that can be accessed by all child pages. Change “default” to the name of the layout that is used on the page that houses your global values.
{% endcomment %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ site.baseurl }}favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ site.baseurl }}favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="{{ site.baseurl }}img/og-image.jpg">
    <meta property="og:image:width" content="1563">
    <meta property="og:image:height" content="818">
    <meta property="og:description" content="Ecoutez le trio just. gratuitement et visionner les vidéos de leurs derniers concerts!">
    <meta property="og:url" content="http://www.just-band.com/">
    <meta property="og:title" content="just. | Pop Rock Band.">
    <link rel="stylesheet" href="{{ site.baseurl }}css/style-v{{ site.version }}.min.css">
  </head>
  <body>
