#music{

	background: url(../../img/music_bg-md.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	color: $white;
	left: 100%;

	h2{

		margin: 0 0 25px 0;

	}

	.music-container{

		display: flex;
		align-items: center;
		justify-content: space-around;

		p{

			font-size: 2rem;
			line-height: 2.2rem;
			text-align: right;

		}

	}

	.cta{

		background-color: $soundcloud;
		color: white;

	}

	.soundcloud{

		height: 500px;
		width: 35%;
		margin: 0 0 25px 0;
		position: relative;

		iframe{
			
			position: relative;
			z-index: 2;
			width: 100% !important;
			height: 500px !important;

		}

	}

}