#music{

	background: url(../../img/music_bg-lg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	color: $white;
	left: 100%;
	z-index: 40;

	.music-container{

		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 100%;

	}

	.cta{

		background-color: $soundcloud;
		color: white;
		width: 270px;
		opacity: 0;
		transition: all 0.5s ease-in-out;

		@media screen and (max-width:1000px){

			width: 370px;

		}

		&.on{

			opacity: 1;

		}

	}

	.soundcloud{

		height: 400px;
		width: 300px;
		margin: 0 0 25px 0;
		position: relative;

		iframe{
			
			position: relative;
			z-index: 2;
			top: 200%;
			transition: all 1s ease-in-out;

			&.on{

				top:0;

			}

		}

		.headphones{

	    width: 587px;
	    position: absolute;
	    top: -200%;
    	left: -154px;
	    z-index: 1;
	    transition: all 1.5s ease-in-out;

	    @media screen and (max-width:1000px){

				display: none;

			}

	    &.on{

				top: -150px;

	    }

		}

		@media screen and (max-width:1000px){

			height: 200px;
			width: 400px;

		}

	}

	.music-text{
	
		min-width: 395px;
		position: relative;

		@media screen and (max-width:1000px){

			left: 150px;

		}

	}

	.wouldyou{
		
		font-size: 5rem;
		font-family: 'Amatic SC', cursive;
		line-height: 6rem;
		text-align: center;
		opacity: 0;
		position: relative;
		transition: opacity 0.2s ease-in-out;
		backface-visibility: hidden;
		z-index: 900;

		@media screen and (max-width:1000px){

			font-size: 3rem;
			line-height: 4.2rem;

		}

		&.on{

			opacity: 1;

		}

		&:before{

			content: '';
	    width: 200px;
	    height: 100px;
	    background: url(../../img/arrow.png) left top no-repeat;
	    background-size: 100%;
	    display: inline-block;
	    animation: shakeHorizontal 2s linear infinite;
	    position: absolute;
	    right: 100%;
	    z-index: 900;

	    @media screen and (max-width: 1200px){

	    	right: 100%;

	    }

		}

		&.vert{

			&:before{

		    width: 100px;
		    height: 200px;
				background: url(../../img/arrow-vert.png) left top no-repeat;
				background-size: 100%;
				animation: shakeVertical 2s linear infinite;
				right: 80%;

			}

		}

	}

}