header{

	img{

		width: 50px;
		margin-right: 20px;
		position: relative;
		top: 4px;

	}

	nav{

		width: 600px;
		height: 50px;
		padding: 0 40px;
		position: fixed;
		z-index: 9999;
		left: 50%;
		bottom: 0;
		transform: translate(-50%,0);
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: center;

		ul{

			height: 100%;

			li{

				padding: 12px 10px;
				text-align: center;
				cursor: pointer;
				font: {
					size: 1rem;
					weight: 300;
				}	
				float: left;
				transition: opacity 0.3s ease-in-out;

				&.active{
					
					padding: 10px 10px;
					border-top: 2px solid $soundcloud;
					font-weight: normal;

				}

				a{

					text-decoration: none;
					color: $black;

				}
			}
		}

	}

}

