section#contact
	.social-links
		a(href="https://www.facebook.com/justarockband")
			img(src="img/fb.png")
		a(href="https://www.youtube.com/channel/UC779-tEQQ8FWG3aA5oTWYCA")
			img(src="img/yt.png")
	.line-sep
	a#email(href="mailto:contact@just-band.com") contact@just-band.com