section#about
	.container
		.row
			h2 about.
			p.

				Né d'une dualité fraternelle, le projet « just. » prend forme au mois de décembre 2013. Quelques sessions musicales suffisent pour que la magie opère : les inspirations de Guillaume sont propulsées par la guitare de Geoffrey.

			p.
				
				Après avoir accompagné le chanteur Rover pendant 4 ans, Victor intègre le duo pour y apporter sa solidité rythmique.

			p.

				Le trio est ainsi formé.

			p.
				
				Leurs mélodies pop et épurées sont portées par l'énergie rock qui émane de leurs arrangements.

		.row
			.line-sep

		.row
			.trio.left
				img.rounded(src="img/vic-sm.jpg")
				.musician
					h3 victor.
					p Drums
			.trio.right
				.musician
					h3 guillaume.
					p Lead vocals & Bass guitar
				img.rounded(src="img/gui-sm.jpg")
			.trio.left
				img.rounded(src="img/geo-sm.jpg")
				.musician
					h3 geoffrey.
					p Lead guitar & vocals