section#contact
	.social-links
		a.cta#fb(href="https://www.facebook.com/justarockband") Facebook.
		a.cta#yt(href="https://www.youtube.com/channel/UC779-tEQQ8FWG3aA5oTWYCA") Youtube.
	.line-sep
	a#email(href="mailto:contact@just-band.com") contact@just-band.com