header
	.nav-toggle: span
	img(src="img/logo.svg")

	nav#menu
		ul
			li
				a(data-scroll href="#hero") intro.	
			li
				a(data-scroll href="#about") about.	
			li
				a(data-scroll href="#music") music.	
			li
				a(data-scroll href="#video") video.	
			li
				a(data-scroll href="#dates") dates.	
			li
				a(data-scroll href="#contact") contact.	

