section#video
	h2 video.

	div#video-slider
		.video-thumbnail
			

	.container
		.youtube-helper
			img(src="img/arrow-left.png")
			p Faites glisser pour voir d'autres vidéos.
			img(src="img/arrow-right.png")
		a.cta(href="#") Subscribe on YouTube.