section#video
	h2 video.

	div#video-slider
		.video-thumbnail#SFmha1nJKhY
			.overlay
				img(src="img/play.svg")
			img(src="https://i.ytimg.com/vi/SFmha1nJKhY/mqdefault.jpg")
			.video-title.
				When you're gone - just. | Antipode 2016


	.container
		.youtube-helper
			img(src="img/arrow-left.png")
			p Touchez les flêches pour changer de vidéo ou touchez l'image pour lire une vidéo.
			img(src="img/arrow-right.png")
		a.cta(href="https://www.youtube.com/channel/UC779-tEQQ8FWG3aA5oTWYCA") Subscribe on YouTube.