section#video
	h2 video.

	div#video-slider
		.video-thumbnail.active#SFmha1nJKhY
			.overlay
				img(src="img/play.svg")
			img(src="https://i.ytimg.com/vi/SFmha1nJKhY/mqdefault.jpg")
			.video-title.
				When you're gone - just. | Antipode 2016
		.video-thumbnail#i22VefDq5xw
			.overlay
				img(src="img/play.svg")
			img(src="https://i.ytimg.com/vi/i22VefDq5xw/mqdefault.jpg")
			.video-title.
				Broken Memories - just. | Antipode 2016	
		.video-thumbnail#UjpeCrwhwK8
			.overlay
				img(src="img/play.svg")
			img(src="https://i.ytimg.com/vi/UjpeCrwhwK8/mqdefault.jpg")
			.video-title.
				Be who you are - just. | Antipode 2016


	.container
		.youtube-helper
			img(src="img/arrow-left.png")#left-arrow
			p Touchez les flêches pour changer de vidéo ou touchez l'image pour lire une vidéo.
			img.on(src="img/arrow-right.png")#right-arrow
		a.cta(href="https://www.youtube.com/channel/UC779-tEQQ8FWG3aA5oTWYCA") Subscribe on YouTube.