<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sondage | just.</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <style>

    body{
      background-color: #F8F8F8;
    }

    #questionnaire{
      margin-bottom: 60px;
    }

    #hero{
      padding: 0;
      margin: 30px 0;
    }

    h3{
      margin: 30px 0;
    }

    p{
      font-size: 16px;
      margin-bottom: 30px;
    }

    #download{
      margin: 30px 0;
      padding: 0;
    }

  </style>

</head>
<body>
  
<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 col-md-offset-3" id="questionnaire">

      <div class="col-md-12" id="hero">

        <img class="img-responsive" src="../images/hero.jpg" width="100%"></img>

      </div> 

      <form class="form-signin" method="POST" action="../sondage/">
        <h2 class="form-signin-heading">Votre avis nous intéresse.</h2>
        <br />
        <p>Si vous êtes sur cette page, c'est que vous avez déjà écouté notre EP et pris la décision de remplir ce court questionnaire. Merci de votre soutien.</p>

        <p>Avant toute chose, entrez votre prénom (ou surnom) :</p>

        <div class="form-inline">
          <input type="text" class="form-control" id="nom" name="nom" placeholder="Ex: Mathieu" required>
        </div>

        <hr>

        <h3 class="form-signin-heading">1. Quelle est votre impression?</h3>

        <div class="radio">
          <label>
            <input type="radio" name="quality" id="quality1" value="1">
            Je n'aime pas.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quality" id="quality1" value="2" checked>
            J'aime bien.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="quality" id="quality1" value="3">
            J'adore!
          </label>
        </div>

        <hr>

        <h3 class="form-signin-heading">2. Quel morceau avez-vous le plus apprécié?</h3>

        <div class="radio">
          <label>
            <input type="radio" name="favorite" id="favorite1" value="Broken Memories">
            Broken Memories
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="favorite" id="favorite2" value="Hands Up">
            Hands Up
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="favorite" id="favorite3" value="When you're gone" checked>
            When you're gone
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="favorite" id="favorite4" value="Would You?">
            Would You?
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="favorite" id="favorite5" value="Aucun">
            Aucun des choix précédents.
          </label>
        </div>

        <hr>

        <h3 class="form-signin-heading">3. Aimez-vous le rock en général?</h3>

        <div class="radio">
          <label>
            <input type="radio" name="rock" id="rock" value="yes" checked>
            Oui
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rock" id="rock" value="no">
            Non
          </label>
        </div>

        <hr>

        <h3 class="form-signin-heading">4. Merci de nous laisser un commentaire.</h3>
        
        <small>Ce champs est optionnel. Si vous le remplissez, votre avis sera susceptible d'être affiché sur notre site </small>
        <textarea class="form-control" name="comment" rows="4"></textarea>

        <div class="col-md-12" id="download">
          <button class="btn btn-lg btn-info btn-block" type="submit">Envoyer</button>
        </div>
        <br>
        <small><em>Photos <a href="https://www.facebook.com/nondediou/" target="_blank">non2non</a></em></small>

        
      </form>

    </div><!-- /.col-md-4 -->

  </div>

</div>

<script>



</script>
</body>
</html>