<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Questionnaire envoyé</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <style>

    body{
      background-color: #F8F8F8;
    }
  
    #downloadForm{
      margin-top: 15%;
    }

    .btn-info, p{
      font-size: 1.2em;
    }

  </style>


</head>
<body>

<div class="container">

  	<div class="col-md-4 col-md-offset-4" id="downloadForm">

    	<h1>Merci!</h1>

      <p>Nous vous remercions pour ces quelques instants que vous nous avez accordés et nous espérons vous voir bientôt à notre prochain concert.</p>

	 </div>	

</div>


</body>
</html>