// GLOBAL
$white: #FFFFFF;
$black: #000000;
$app__text: #2A2A2A;
$app__cta__buy: #121212;
$app__cta__info: #FFFFFF;
$app__cta__info__bkg: #121212;
$app__cta__compare: #959595;
$app__cta__buy--hover: #FFFFFF;
$app__cta__info--hover: #FFFFFF;
$app__cta__white: #FFFFFF;
$app__cta__white__bkg: transparent;
$app__cta__white--hover: #111111;
$app__cta__white__bkg--hover: #FFFFFF;
