// COLORS
$intro__bkg: #FFFFFF;
$intro__title: #121212;
$intro__text: #121212;

.app__intro {
  padding: 1rem 0 4em 0;
  background-color: $intro__bkg;
  text-align: center;
  @include breakpoint ('screen-sm') {
    padding: 4rem 0;
  }
}
